<nav class="navbar navbar-expand-lg navbar-dark bg-success">
    <div class="container">

        <a class="navbar-brand" href="{{ url_for('main.home') }}">
            🛒 SmartMart
        </a>

        <div class="ms-auto">

            {% if current_user.is_authenticated %}

                <span class="text-white me-3">
                    Welcome, {{ current_user.full_name }}
                </span>

                <a class="btn btn-light me-2"
                   href="{{ url_for('main.dashboard') }}">
                    Dashboard
                </a>

                <a class="btn btn-warning me-2"
                   href="{{ url_for('main.products') }}">
                    Products
                </a>

                <a class="btn btn-danger"
                   href="{{ url_for('auth.logout') }}">
                    Logout
                </a>

            {% else %}

                <a class="btn btn-light me-2"
                   href="{{ url_for('auth.login') }}">
                    Login
                </a>

                <a class="btn btn-warning"
                   href="{{ url_for('auth.register') }}">
                    Register
                </a>

            {% endif %}

        </div>

    </div>
</nav>